
.info-container {background-color:  var(background-grey);
                 display: flex;
                 flex-direction: column;
                justify-content: space-between;
                  align-items: center;}

.info {
        max-width: 40em;
}

.info p {line-height: 1.4em;
        }

.info h1 {font-size: 1.6em;
          margin-bottom: 1em;}
.info li {line-height: 2em;}

