* {color: white; background-color: #121212}

.sem-container         {display: flex;
                        flex: 1;
                        flex-wrap: wrap;
                        justify-content: center;
                        height: auto;
                        border: 0.4em solid white}

.sem-container div     {background-color: rgb(0, 0, 0);
                        flex: 1 1 40%;
                        gap: 2em;
                        margin: 3em;
                        padding: 1em;
                        max-width: 40em;
                        height: auto;
                        text-align: center;}

h1                     {text-align: center;}
