
                          .sem-container         
                       {display: flex;
                        flex-wrap: wrap;
                        flex: 1;
                        justify-content: center;
                        align-items: center;
                        height: auto;
                        background-color: var(--backround-grey);
                        box-shadow: 0px 5px 20px var(--glow-light), 
                        inset 0px 2px 4px var(--button-white);
                        margin-left: 8em;
                        margin-right: 8em;
                        padding: 2em;
                        gap: 2em;
                        border-radius: 1em;
                        }

                          .sem-container div     
                       {background-color: var(--backround-grey);
                        flex: 1 1 40%;
                        gap: 2em;
                        margin: 3em;
                        padding: 1em;
                        max-width: 40em;
                        height: 12em;
                        text-align: center;
                        border: 0.2em solid var(--button-white);
                        box-shadow: 0px 5px 15px var(--glow-light),
                        inset 0px 2px 4px var(--button-white);
                        border-radius: 0.5em;}

                          .sem-container div:hover        
                       {transition: 0.3s;
                        font-size: 1.1em;}


                          h1                     
                       {text-align: center;
                        margin-top: 1.7em;
                        margin-bottom: 0.5em;
                        color: var(--text-white);
                        text-shadow: 0 0 5px var(--button-white);
                        font-size: 2.5em;}

                          h4                     
                       {color: var(--text-white);
                        text-shadow: 0 0 5px var(--button-white);
                        margin-bottom: 0.5em;
                        }

@media (max-width: 900px) 
{ 
                        .sem-container 
                      {margin: 2em; 
                       padding: 1em;}

                        .sem-container div 
                      {margin: 2em;
                       padding: 1em;
                       height: auto;
                       flex: 1 1 70%;}
}

@media (max-width: 660px) 
{ 
                        .sem-container 
                      {margin: 1em; 
                       padding: 0em;}
                        
                        .sem-container div 
                      {margin: 1em;
                       padding: 1em;
                        height: auto;
                       flex: 1 1 80%;}
}